.myImg{
    border-radius: 100%;
}
.top-container{
    background-color: #E4E0E1;
}
.icon-square{
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
.middle-container{
    background-color: #D6C0B3;

}
.middleTwo-container{
    background-color: #AB886D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: #D6C0B3;
}

